[
  {
    "scope": "http://iglucentral.com:80",
    "method": "GET",
    "path": "/schemas/com.snowplowanalytics.iglu/resolver-config/jsonschema/1-0-0",
    "body": "",
    "status": 200,
    "response": {
      "$schema": "http://iglucentral.com/schemas/com.snowplowanalytics.self-desc/schema/jsonschema/1-0-0#",
      "description": "Schema for an Iglu resolver's configuration",
      "self": {
        "vendor": "com.snowplowanalytics.iglu",
        "name": "resolver-config",
        "format": "jsonschema",
        "version": "1-0-0"
      },
      "type": "object",
      "properties": {
        "cacheSize": {
          "type": "integer",
          "minimum": 0
        },
        "repositories": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "priority": {
                "type": "integer"
              },
              "vendorPrefixes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "connection": {
                "type": "object",
                "oneOf": [
                  {
                    "properties": {
                      "embedded": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "required": [
                      "embedded"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "properties": {
                      "http": {
                        "type": "object",
                        "properties": {
                          "uri": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "required": [
                          "uri"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "required": [
                      "http"
                    ],
                    "additionalProperties": false
                  }
                ]
              }
            },
            "required": [
              "name",
              "priority",
              "vendorPrefixes",
              "connection"
            ],
            "additionalProperties": false
          }
        }
      },
      "required": [
        "cacheSize",
        "repositories"
      ],
      "additionalProperties": false
    },
    "rawHeaders": [
      "ovfNH+PeUyqF/sU5oyV8D+HnuQJvR5irtIfzGR93R5guPdIKpnYgaUSsv4p/Bw7YpVGJ5g/8f5w=",
      "x-amz-request-id",
      "EDB3A3C768746595",
      "Mon, 11 Dec 2017 04:19:19 GMT",
      "Last-Modified",
      "Fri, 27 Oct 2017 11:23:44 GMT",
      "ETag",
      "\"b7707a33a664f362746c93c6eb3a20b2\"",
      "Content-Type",
      "binary/octet-stream",
      "1728",
      "AmazonS3",
      "close"
    ]
  },
  {
    "scope": "http://iglucentral.com:80",
    "method": "GET",
    "path": "/schemas/com.snowplowanalytics.snowplow/unstruct_event/jsonschema/1-0-0",
    "body": "",
    "status": 200,
    "response": {
      "$schema": "http://iglucentral.com/schemas/com.snowplowanalytics.self-desc/schema/jsonschema/1-0-0#",
      "description": "Schema for a Snowplow unstructured event",
      "self": {
        "vendor": "com.snowplowanalytics.snowplow",
        "name": "unstruct_event",
        "format": "jsonschema",
        "version": "1-0-0"
      },
      "type": "object",
      "properties": {
        "schema": {
          "type": "string",
          "pattern": "^iglu:[a-zA-Z0-9-_.]+/[a-zA-Z0-9-_]+/[a-zA-Z0-9-_]+/[0-9]+-[0-9]+-[0-9]+$"
        },
        "data": {}
      },
      "required": [
        "schema",
        "data"
      ],
      "additionalProperties": false
    },
    "rawHeaders": [
      "veoXKOwGjVc5QCrFK8MRzWR6IPVYrg/dfnCK0cvNW7hG3+CM9zWmJbVOQAX6LgGI/mpKXTG2IXY=",
      "x-amz-request-id",
      "450D5ABB1BFBCCF4",
      "Mon, 11 Dec 2017 04:19:19 GMT",
      "Last-Modified",
      "Fri, 27 Oct 2017 11:23:46 GMT",
      "ETag",
      "\"5a3ffaf20e5859c17e96ecaf56c31608\"",
      "Content-Type",
      "binary/octet-stream",
      "556",
      "AmazonS3",
      "close"
    ]
  },
  {
    "scope": "http://iglucentral.com:80",
    "method": "GET",
    "path": "/schemas/com.snowplowanalytics.snowplow/link_click/jsonschema/1-0-0",
    "body": "",
    "status": 200,
    "response": {
      "$schema": "http://iglucentral.com/schemas/com.snowplowanalytics.self-desc/schema/jsonschema/1-0-0#",
      "description": "Schema for a link click event",
      "self": {
        "vendor": "com.snowplowanalytics.snowplow",
        "name": "link_click",
        "format": "jsonschema",
        "version": "1-0-0"
      },
      "type": "object",
      "properties": {
        "elementId": {
          "type": "string"
        },
        "elementClasses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "elementTarget": {
          "type": "string"
        },
        "targetUrl": {
          "type": "string",
          "minLength": 1
        }
      },
      "required": [
        "targetUrl"
      ],
      "additionalProperties": false
    },
    "rawHeaders": [
      "hh7NbE1eY7KelMepOlC6uMBfv8gDiN7w30IhK4CIe6Hu07ISNuWeBK19Y5K30CIt9IyM27mGQW4=",
      "x-amz-request-id",
      "7300FB9D33FBB80F",
      "Mon, 11 Dec 2017 04:19:19 GMT",
      "Last-Modified",
      "Fri, 27 Oct 2017 11:23:45 GMT",
      "ETag",
      "\"3e45eee8f2b33b7390fe89839130aac5\"",
      "Content-Type",
      "binary/octet-stream",
      "623",
      "AmazonS3",
      "close"
    ]
  }
]