[
  {
    "scope": "http://iglucentral.com:80",
    "method": "GET",
    "path": "/schemas/com.snowplowanalytics.snowplow/link_click/jsonschema/1-0-0",
    "body": "",
    "status": 200,
    "response": {
      "$schema": "http://iglucentral.com/schemas/com.snowplowanalytics.self-desc/schema/jsonschema/1-0-0#",
      "description": "Schema for a link click event",
      "self": {
        "vendor": "com.snowplowanalytics.snowplow",
        "name": "link_click",
        "format": "jsonschema",
        "version": "1-0-0"
      },
      "type": "object",
      "properties": {
        "elementId": {
          "type": "string"
        },
        "elementClasses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "elementTarget": {
          "type": "string"
        },
        "targetUrl": {
          "type": "string",
          "minLength": 1
        }
      },
      "required": [
        "targetUrl"
      ],
      "additionalProperties": false
    },
    "rawHeaders": [
      "A4fQXc5gq0xqTYWesFKE313yYkAv5KfmIlWX98JQo04LzTwHnMjD9Eyp39SQN09Rn/IUW4mUmjE=",
      "x-amz-request-id",
      "D7129F986CBCF680",
      "Mon, 11 Dec 2017 03:50:46 GMT",
      "Last-Modified",
      "Fri, 27 Oct 2017 11:23:45 GMT",
      "ETag",
      "\"3e45eee8f2b33b7390fe89839130aac5\"",
      "Content-Type",
      "binary/octet-stream",
      "623",
      "AmazonS3",
      "close"
    ]
  }
]