[
  {
    "scope": "http://iglucentral.com:80",
    "method": "GET",
    "path": "/schemas/com.snowplowanalytics.iglu/resolver-config/jsonschema/1-0-0",
    "body": "",
    "status": 200,
    "response": {
      "$schema": "http://iglucentral.com/schemas/com.snowplowanalytics.self-desc/schema/jsonschema/1-0-0#",
      "description": "Schema for an Iglu resolver's configuration",
      "self": {
        "vendor": "com.snowplowanalytics.iglu",
        "name": "resolver-config",
        "format": "jsonschema",
        "version": "1-0-0"
      },
      "type": "object",
      "properties": {
        "cacheSize": {
          "type": "integer",
          "minimum": 0
        },
        "repositories": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "priority": {
                "type": "integer"
              },
              "vendorPrefixes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "connection": {
                "type": "object",
                "oneOf": [
                  {
                    "properties": {
                      "embedded": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "required": [
                      "embedded"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "properties": {
                      "http": {
                        "type": "object",
                        "properties": {
                          "uri": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "required": [
                          "uri"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "required": [
                      "http"
                    ],
                    "additionalProperties": false
                  }
                ]
              }
            },
            "required": [
              "name",
              "priority",
              "vendorPrefixes",
              "connection"
            ],
            "additionalProperties": false
          }
        }
      },
      "required": [
        "cacheSize",
        "repositories"
      ],
      "additionalProperties": false
    },
    "rawHeaders": [
      "bErj6X0kJdSElxfqyR53Xnu9/S3d/cUPU6uZ1KE9i9q+ayiGNU3qHdVF09w8ietGqXCVjrGpXEo=",
      "x-amz-request-id",
      "128DBABC82537800",
      "Sat, 16 Dec 2017 02:59:42 GMT",
      "Last-Modified",
      "Wed, 13 Dec 2017 13:58:33 GMT",
      "ETag",
      "\"b7707a33a664f362746c93c6eb3a20b2\"",
      "Content-Type",
      "binary/octet-stream",
      "1728",
      "AmazonS3",
      "close"
    ]
  },
  {
    "scope": "http://iglucentral.com:80",
    "method": "GET",
    "path": "/schemas/com.snowplowanalytics.snowplow/unstruct_event/jsonschema/1-0-0",
    "body": "",
    "status": 200,
    "response": {
      "$schema": "http://iglucentral.com/schemas/com.snowplowanalytics.self-desc/schema/jsonschema/1-0-0#",
      "description": "Schema for a Snowplow unstructured event",
      "self": {
        "vendor": "com.snowplowanalytics.snowplow",
        "name": "unstruct_event",
        "format": "jsonschema",
        "version": "1-0-0"
      },
      "type": "object",
      "properties": {
        "schema": {
          "type": "string",
          "pattern": "^iglu:[a-zA-Z0-9-_.]+/[a-zA-Z0-9-_]+/[a-zA-Z0-9-_]+/[0-9]+-[0-9]+-[0-9]+$"
        },
        "data": {}
      },
      "required": [
        "schema",
        "data"
      ],
      "additionalProperties": false
    },
    "rawHeaders": [
      "0ykbYBA3jsLdNWVavJ51YkbIK5wXBZIgO6wLDpi5EHV/FSRDdfHm9QnHU7EeWEX0Onss3KCg8v8=",
      "x-amz-request-id",
      "F8734C513B736787",
      "Sat, 16 Dec 2017 02:59:43 GMT",
      "Last-Modified",
      "Wed, 13 Dec 2017 13:58:35 GMT",
      "ETag",
      "\"5a3ffaf20e5859c17e96ecaf56c31608\"",
      "Content-Type",
      "binary/octet-stream",
      "556",
      "AmazonS3",
      "close"
    ]
  },
  {
    "scope": "http://iglucentral.com:80",
    "method": "GET",
    "path": "/schemas/com.snowplowanalytics.snowplow/link_click/jsonschema/1-0-0",
    "body": "",
    "status": 200,
    "response": {
      "$schema": "http://iglucentral.com/schemas/com.snowplowanalytics.self-desc/schema/jsonschema/1-0-0#",
      "description": "Schema for a link click event",
      "self": {
        "vendor": "com.snowplowanalytics.snowplow",
        "name": "link_click",
        "format": "jsonschema",
        "version": "1-0-0"
      },
      "type": "object",
      "properties": {
        "elementId": {
          "type": "string"
        },
        "elementClasses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "elementTarget": {
          "type": "string"
        },
        "targetUrl": {
          "type": "string",
          "minLength": 1
        }
      },
      "required": [
        "targetUrl"
      ],
      "additionalProperties": false
    },
    "rawHeaders": [
      "dnDzPLrxJDvxaUrjRcv29LDLuANB4TVMXAYp3Z4Y7qTxPcbxpS+j+/zSq+8KvLcomhH+6aeRR0M=",
      "x-amz-request-id",
      "D6A75696A2780277",
      "Sat, 16 Dec 2017 02:59:43 GMT",
      "Last-Modified",
      "Wed, 13 Dec 2017 13:58:34 GMT",
      "ETag",
      "\"3e45eee8f2b33b7390fe89839130aac5\"",
      "Content-Type",
      "binary/octet-stream",
      "623",
      "AmazonS3",
      "close"
    ]
  }
]