[
  {
    "scope": "http://iglu.data.e2e.realestate.com.au:80",
    "method": "GET",
    "path": "/schemas/au.com.realestate/adobe_events/jsonschema/1-0-0",
    "body": "",
    "status": 200,
    "response": {
      "$schema": "http://iglucentral.com/schemas/com.snowplowanalytics.self-desc/schema/jsonschema/1-0-0#",
      "description": "Schema for adobe_events",
      "self": {
        "vendor": "au.com.realestate",
        "name": "adobe_events",
        "format": "jsonschema",
        "version": "1-0-0"
      },
      "type": "object",
      "properties": {
        "event_name": {
          "type": "string"
        },
        "event_serial": {
          "type": "string"
        }
      },
      "required": [
        "event_name"
      ],
      "additionalProperties": false
    },
    "rawHeaders": [
      "7NIRvaiFzsBGraBy4rLZigrdVZXNx5qN5kjKdCusxGsT32hr5IOG5EywaFjRW2vjQdnM3aAZm2Y=",
      "x-amz-request-id",
      "F817B4DDB6582024",
      "Sat, 16 Dec 2017 02:59:43 GMT",
      "Last-Modified",
      "Fri, 15 Dec 2017 03:46:45 GMT",
      "ETag",
      "\"0ce0be62173de0f55e762bb914a21b49\"",
      "Content-Type",
      "binary/octet-stream",
      "489",
      "AmazonS3",
      "close"
    ]
  },
  {
    "scope": "http://iglu.data.e2e.realestate.com.au:80",
    "method": "GET",
    "path": "/schemas/au.com.realestate/user/jsonschema/1-0-0",
    "body": "",
    "status": 200,
    "response": {
      "$schema": "http://iglucentral.com/schemas/com.snowplowanalytics.self-desc/schema/jsonschema/1-0-0#",
      "description": "Schema for user",
      "self": {
        "vendor": "au.com.realestate",
        "name": "user",
        "format": "jsonschema",
        "version": "1-0-0"
      },
      "type": "object",
      "properties": {
        "user_login_status": {
          "type": "string",
          "description": "Whether a the user is logged in or not",
          "enum": [
            "logged in",
            "logged_out",
            "not logged in"
          ]
        },
        "my_rea_id": {
          "type": [
            "string",
            "null"
          ],
          "description": "ID for each visitor who is logged in on My Rea"
        },
        "my_rea_anon_id": {
          "type": [
            "string",
            "null"
          ],
          "description": "ID for each visitor irrespective of whether they have a MyREA login"
        },
        "reauid": {
          "type": "string",
          "description": "New unique ID for all visitors"
        }
      },
      "required": [
        "user_login_status"
      ],
      "additionalProperties": false
    },
    "rawHeaders": [
      "SCviMXKQ2mvWfQErkZtKadGSYhKDJSez0dKDizjEb3Uf6oiAtA1C6bZIt47f+x3FKrRTnSCz36Y=",
      "x-amz-request-id",
      "1AEA7473EAC7D389",
      "Sat, 16 Dec 2017 02:59:43 GMT",
      "Last-Modified",
      "Fri, 15 Dec 2017 03:46:45 GMT",
      "ETag",
      "\"592a291d696e472b7dd853697872b034\"",
      "Content-Type",
      "binary/octet-stream",
      "950",
      "AmazonS3",
      "close"
    ]
  },
  {
    "scope": "http://iglu.data.e2e.realestate.com.au:80",
    "method": "GET",
    "path": "/schemas/au.com.realestate/page/jsonschema/1-0-0",
    "body": "",
    "status": 200,
    "response": {
      "$schema": "http://iglucentral.com/schemas/com.snowplowanalytics.self-desc/schema/jsonschema/1-0-0#",
      "description": "Schema for page",
      "self": {
        "vendor": "au.com.realestate",
        "name": "page",
        "format": "jsonschema",
        "version": "1-0-0"
      },
      "type": "object",
      "properties": {
        "page_name": {
          "type": "string",
          "description": "The user-friendly name of the page. Syntax is: <site>:<site section>:<site sub section>:<page type>"
        },
        "page_type": {
          "type": "string",
          "description": "Shortened page name, just the type"
        },
        "site": {
          "type": "string",
          "description": "Descriptor of the site",
          "enum": [
            "reamob",
            "pca",
            "rea"
          ]
        },
        "site_section": {
          "type": "string",
          "description": "Which site section this page relates to"
        },
        "site_sub_section": {
          "type": "string",
          "description": "Which logical section within the Site Section is being viewed. The value is made up of <site>:<site section>:<sub section>"
        },
        "site_sub_sub_section": {
          "type": "string",
          "description": "4th level below subsection.  The value format is <site>:<site section>:<sub section>:<sub-sub section>"
        },
        "language": {
          "type": "string",
          "description": "The language of the page being displayed"
        },
        "platform": {
          "type": "string",
          "description": "Represents the device the Consumer is using",
          "enum": [
            "msite",
            "web",
            "ipadapp",
            "iphoneapp",
            "android"
          ]
        },
        "responsive_layout": {
          "type": "string",
          "description": "The size of the page layout",
          "enum": [
            "S",
            "M1",
            "M2",
            "L",
            "XL"
          ]
        }
      },
      "required": [
        "page_name",
        "page_type",
        "site",
        "language",
        "platform"
      ],
      "additionalProperties": false
    },
    "rawHeaders": [
      "wNmdKInxxOowh7x7J6uks7pw/SjnlDuRjDuggOFBs5G1Rw29dxJA2D/Y9A/UuVSgluESH/8Mwno=",
      "x-amz-request-id",
      "1F50E346196FCA69",
      "Sat, 16 Dec 2017 02:59:43 GMT",
      "Last-Modified",
      "Fri, 15 Dec 2017 03:46:45 GMT",
      "ETag",
      "\"77fdffc8ded300e3382db3326a4674d8\"",
      "Content-Type",
      "binary/octet-stream",
      "1785",
      "AmazonS3",
      "close"
    ]
  },
  {
    "scope": "http://iglu.data.e2e.realestate.com.au:80",
    "method": "GET",
    "path": "/schemas/au.com.realestate/listing/jsonschema/1-0-1",
    "body": "",
    "status": 200,
    "response": {
      "$schema": "http://iglucentral.com/schemas/com.snowplowanalytics.self-desc/schema/jsonschema/1-0-0#",
      "description": "Schema for listing",
      "self": {
        "vendor": "au.com.realestate",
        "name": "listing",
        "format": "jsonschema",
        "version": "1-0-1"
      },
      "type": "object",
      "properties": {
        "listing_id": {
          "type": "string",
          "description": "Unique id of the listing"
        },
        "agency_id": {
          "type": [
            "string",
            "null"
          ],
          "description": "Unique id of the agency that owns the listing"
        },
        "price_range": {
          "type": "string",
          "description": "Abbreviated price range for property in low_high format. "
        },
        "construction_status": {
          "type": "string",
          "description": "Whether the property is a new build or existing",
          "enum": [
            "new",
            "established"
          ]
        },
        "product_depth": {
          "type": "string",
          "description": "Which listing product type is being viewed.",
          "enum": [
            "premiere",
            "signature",
            "mid tier",
            "standard",
            "default",
            "eas"
          ]
        }
      },
      "required": [
        "listing_id"
      ],
      "additionalProperties": false
    },
    "rawHeaders": [
      "PALnhYyfb29rcduz0wtm1p4suQXYBMIEPdTDThOTDDyWsRoB8P7JG7K2RH/3tMh/7mefCepFxWY=",
      "x-amz-request-id",
      "9820FB53617F0448",
      "Sat, 16 Dec 2017 02:59:43 GMT",
      "Last-Modified",
      "Fri, 15 Dec 2017 03:46:45 GMT",
      "ETag",
      "\"0ef0911f1267ef8932cf3d7244b88030\"",
      "Content-Type",
      "binary/octet-stream",
      "1120",
      "AmazonS3",
      "close"
    ]
  },
  {
    "scope": "http://iglu.data.e2e.realestate.com.au:80",
    "method": "GET",
    "path": "/schemas/au.com.realestate/property/jsonschema/2-0-0",
    "body": "",
    "status": 200,
    "response": {
      "$schema": "http://iglucentral.com/schemas/com.snowplowanalytics.self-desc/schema/jsonschema/1-0-0#",
      "description": "Schema for property",
      "self": {
        "vendor": "au.com.realestate",
        "name": "property",
        "format": "jsonschema",
        "version": "2-0-0"
      },
      "type": "object",
      "properties": {
        "property_id": {
          "type": "string",
          "description": "Unique id of the property being listed"
        },
        "state": {
          "type": "string",
          "description": "State that property is located in"
        },
        "suburb": {
          "type": "string",
          "description": "Suburb that property is located in"
        },
        "postcode": {
          "type": "string",
          "description": "Postcode of property is located in"
        },
        "region": {
          "type": "string",
          "description": "Greater geographical region of the property"
        },
        "bedrooms": {
          "type": "integer",
          "description": "Number of bedrooms "
        },
        "bathrooms": {
          "type": "integer",
          "description": "Number of bathrooms"
        },
        "car_spaces": {
          "type": "integer",
          "description": "Number of car spaces"
        },
        "year_built": {
          "type": "integer",
          "description": "Year that the property was built"
        },
        "property_type": {
          "type": "string",
          "description": "Type of property",
          "enum": [
            "house",
            "unit",
            "land",
            "villa"
          ]
        }
      },
      "required": [
        "property_id"
      ],
      "additionalProperties": false
    },
    "rawHeaders": [
      "dzOVw8XZULtkTlFke/wwYTw8rnSJqFcjHHgl5txkCzYjbASNHuuMesBipwOBG6R7uIdo3GDAubY=",
      "x-amz-request-id",
      "679B88CB612FF3DA",
      "Sat, 16 Dec 2017 02:59:43 GMT",
      "Last-Modified",
      "Fri, 15 Dec 2017 03:46:45 GMT",
      "ETag",
      "\"2e58673b158385740d1c03a073923db4\"",
      "Content-Type",
      "binary/octet-stream",
      "1476",
      "AmazonS3",
      "close"
    ]
  },
  {
    "scope": "http://iglucentral.com:80",
    "method": "GET",
    "path": "/schemas/com.snowplowanalytics.snowplow/contexts/jsonschema/1-0-0",
    "body": "",
    "status": 200,
    "response": {
      "$schema": "http://iglucentral.com/schemas/com.snowplowanalytics.self-desc/schema/jsonschema/1-0-0#",
      "description": "Schema for custom contexts",
      "self": {
        "vendor": "com.snowplowanalytics.snowplow",
        "name": "contexts",
        "format": "jsonschema",
        "version": "1-0-0"
      },
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "schema": {
            "type": "string",
            "pattern": "^iglu:[a-zA-Z0-9-_.]+/[a-zA-Z0-9-_]+/[a-zA-Z0-9-_]+/[0-9]+-[0-9]+-[0-9]+$"
          },
          "data": {}
        },
        "required": [
          "schema",
          "data"
        ],
        "additionalProperties": false
      },
      "minItems": 1
    },
    "rawHeaders": [
      "fgV9WJQvjXftCRaGeabjk5jFZSgh2vHmZLX0VFn2vtD9Pd+/GYI7r72w/yPKkRyyPGZqMU20qpU=",
      "x-amz-request-id",
      "EADEED8D430F622E",
      "Sat, 16 Dec 2017 02:59:43 GMT",
      "Last-Modified",
      "Wed, 13 Dec 2017 13:58:34 GMT",
      "ETag",
      "\"2a07ca78a021aaf603ae30068ff3764d\"",
      "Content-Type",
      "binary/octet-stream",
      "597",
      "AmazonS3",
      "close"
    ]
  }
]